body {
    background: rgb(46, 117, 67);
    font: normal 15pt Arial;

}

header {
    text-align: center;
    color: whitesmoke;
}

div {
    text-align: center;
    padding: 8px;
}

section {
    background: whitesmoke;
    border-radius: 20px;
    width: 400px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.288);
}

footer {
    text-align: center;
    color: whitesmoke;
    font-style: italic;
}